@model WebCore.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post" asp-antiforgery="true">    
    
    <!-- Model summaries validation-->
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>Username: <input type="text" name="username"/>
        <br/><br/>
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password"/>
    
        <br/><br/>
        <label for="ConfirmPassword">Conferma Password</label>
        <input type="password" name="ConfirmPassword" id="ConfirmPassword"/>
        <br/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <br/><br/>
    
        <input type="hidden" value="@ViewData["code"]" name="code"/>

        <input type="submit" value="Login"/>
    </div>    
</form>
